@model List<ProductsViewModel>
@{
    ViewData["Title"] = "Ürün Listesi";
}

<div class="row">
    <div class="col">
        <h1 class="display-6">@ViewData["Title"] Sayfası</h1>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary btn-sm"><i class="fa fa-plus me-2"></i>Ürün Oluştur</a>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Ürün Fiyatı</th>
                    <th>Ürün İd</th>
                    <th>Ürün Resmi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.ProductPrice.ToString("#,##0.00") TL</td>
                        <td>@item.ProductId</td>
                        <td>@item.Image</td>
                        <td class="text-end">                            
                        <a class="btn btn-danger btn-sm me-1" asp-controller="product" asp-action="delete" asp-route-id="@item.ProductId" onclick="return confirm('Bu ürünü silmek istediğinizden emin misiniz @item.ProductName ?')"><i class="fa fa-trash me-2"></i>Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>